@import "../../abstracts/variables";
@import '../../abstracts/fonts';

.about-wrapper {
  width: 23.43rem;
  height: 56rem;
  text-align: start;
  background-color: $color-primary
}

.about-wrapper .overlay-content {
transform: translate(-50%, -107%);
}

article {
  padding-left: 1rem;
  width: 20rem;
}

.about-title {
  font-size: 42px;
  margin-bottom: 1rem;
}

.about__p-section {
  padding-top: 1rem;
}

.about__p-big {
  font-family:'Work-Sans';
  font-size: 14px;
  color: #2f2926;
  font-weight: 700;
}

.about__p-section {
  font-family:'Work-Sans';
  font-size: 14px;
}

.navMenu {
  position: absolute;
}
