@font-face {
  font-family: 'PT-serif';
  src: url('../../assets/Font/PT_Serif/PTSerif-Regular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Work-Sans';
  src: url('../../assets/Font/Work_Sans/WorkSans-VariableFont_wght.ttf')
    format('woff');
  font-weight: normal;
  font-style: normal;
}